.container{
    margin-top: 50px;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.tabModule{
    overflow: hidden;
    margin: 50px auto;
    padding: 20px 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
    width: 800px;
    color: brown
}
.tabModule .tabCard {
    border-bottom: 1px solid lightgray;
}
.tabModule .tabCard > li{
    float: left;
    padding: 10px 20px;
    border-top:1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    cursor: pointer;
}
.tabModule .tabCard .active{
    border: 1px solid lightgray;
    border-bottom-color: white;
    border-radius: 4px 4px 0 0;
    margin-bottom: -1px;
     color: gray;
}


.tabModule .tabPanel{
    position: relative;
}

.tabModule .tabPanel > li{
    color: gray;
    padding: 10px 20px;
    float: left;
    display: none;
}
.tabModule .tabPanel > .active{
    display: block;
}
