/*
* @Author: abc02
* @Date:   2016-10-01 18:10:46
* @Last Modified by:   abc02
* @Last Modified time: 2016-10-01 18:43:17
*/
body{
	font:16px/1.5 "微软雅黑", sans-serif;
	color:#333;
	color:red;
}
p{
	color: #000;
	line-height: 1.5;
	text-indent: 2em;
}