html,body,div,ul,li,h1,h2,h3,p,img{
	padding: 0;
	margin: 0;
}
html,body {
	height: 100%;
}
/*通用*/
body {
	 font: 14px/1.5 "Microsoft Yahei","Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
	 color: #666;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #fed136;
}
.layout {
	width: 1170px;
	margin: 0 auto;
}
.clearfixed:after {
	content: '';
	display: block;
	clear: both;
}
p,h1,h2,h3,li {
	text-align: center;
}
h3 {
	color: #333;
}
.topic-title {
	font-size: 40px;
	color: #333;
	margin-bottom: 15px;
}
.topic-title+h3 {
	font-size: 16px;
	color: #777;
	font-weight: normal;
	font-style: italic;
}
.general-icon {
	font-size: 45px !important;
	color: #222;
	cursor: pointer;
}
.general-icon:hover {
	color: #fed136;
}
/*头部*/
#header {
	background: url(../img/header-bg.jpg) no-repeat center 30%;
	width: 100%;
	height: 100%;
	background-size: cover;
	text-align: center;
	display: table;
}
.navbar {
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #222;
	position:fixed;
	top: 0;
	z-index: 100;
}
.navbar .logo {
	display: inline-block;
	color: #fed136;
	font-size: 24px;
	font-style: italic;
	float: left;
}
.navbar ul {
	float: right;
}
.navbar ul li {
	float: left;
	padding: 0 15px;
	height: 60px;
	line-height: 60px;
}
.navbar ul li a {
	color: #fff;
	font-weight: bold;
}
.navbar a:hover {
	color: #fec503;
}
.intro-text {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}
.intro-text h2 {
	font-size: 40px;
	color: #fff;
	font-weight: normal;
	font-style: italic;
	margin-bottom: 20px;
}
.intro-text p {
	font-size: 75px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 40px;
}
.btn-more {
	padding: 17px 32px;
	background-color: #fed136;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
}
.btn-more:hover {
	background-color: #fec503;
}
/*services*/
#services {
	background-color: #fff;
	padding: 130px 0;
} 
.services-item {
	color: #333;
	margin-top: 70px;
}
.services-item li {
	width: 360px;
	float: left;
	margin-right: 30px;
}
.services-item p {
	margin-top: 20px;
	color: #777;
	font-size: 14px;
    line-height: 1.75;
}
.services-item .iconfont {
	font-size: 100px;
	color: #fed136;
}
.services-item h3 {
	margin-top: 30px;
}
/*portfolio*/
#portfolio {
	padding: 100px 0;
	background-color: #f7f7f7;
}
.portfolio-item {
	margin-left: -10px;
	margin-top: 20px;
}
.portfolio-item li {
	width: 360px;
	background-color: #fff;
	padding-bottom: 30px;
	float: left;
	margin-left: 33px;
	margin-top: 40px;
}
.portfolio-item p:first-of-type {
	font-size: 20px;
	font-weight: bold;
	color: #333;
	margin-top: 20px;
}
.portfolio-item p:last-of-type {
	font-style: italic;
}
.portfolio-hover{
	position: relative;
	cursor: pointer;
}
 .portfolio-hover img {
	display: block;
	width: 360px;
}
.portfolio-hover-wrap {
	width: 100%;
	height: 100%;
	background: rgba(254,197,3,0.8);
	position: absolute;
	opacity: 0;
	color: #fff;
}
.portfolio-hover-wrap .icon-jiahao {
 	font-size: 60px;
 	position: absolute;
 	top: 31%;
 	margin-left: -30px;
 }
.portfolio-hover:hover .portfolio-hover-wrap {
	opacity: 1;
	transition: all 0.5s;
}
/*about*/
#about {
	padding: 80px 0;
}
.timeline-wrap {
	padding: 80px 0;
} 
.timeline {
	position: relative;
}
.timeline:before {
	content: '';
	display: block;
	width: 2px;
	height: 100%;
	background-color: #f1f1f1;
	position: absolute;
	left: 50%;
}
.timeline li {
	position: relative;
	padding-bottom: 100px;
}

.timeline img {
	width: 170px;
	height: 170px;
	box-sizing: border-box;
	border: 7px solid #f1f1f1;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: -7px;
	margin-left: -85px;
}
.timeline .timeline-end{
	width: 170px;
	height: 170px;
	border-radius: 50%;
	box-sizing: border-box;
	background-color: #fed136;
	color: #fff;
	font-size: 18px;
	border: 7px solid #f1f1f1;
	position: absolute;
	left: 50%;
	margin-left: -85px;
	padding-top: 15px;
	cursor: pointer;
}
.timeline-panel {
	width: 30%;
	font-size: 14px;
	padding-left: 100px;
	line-height: 1.8;
 }
 .timeline-panel p,.timeline-panel h3 {
 	text-align: right;
 }
.timeline-panel .timeline-header {
	margin-bottom: 20px;
	line-height: 1.5;
}
.timeline-panel.right {
	padding-right: 100px;
	float: right;
}
 .timeline-panel.right p,.timeline-panel.right h3 {
 	text-align: left;
 }
/* our team*/
#team {
	background-color: #f7f7f7;
	padding: 120px 0;
}
.team-members li {
	float: left;
	width: 390px;
}
.team-members li img {
	box-sizing: border-box;
	border: 8px solid #fff;
	border-radius: 50%;
}
.team-members li h3 {
	margin-top: 15px;
}
#team .slogn {
	width: 750px;
	margin: 0 auto;
	margin-top: 50px;
	font-size: 16px;
}
/*blogroll*/
#blogroll {
	padding: 50px 0;
	background-color: #fff;
}
#blogroll ul li {
	float: left;
	width: 292px;
}
/*contact us*/
#contact {
	height: 700px;
	background: #222 url(../img/map-image.png) no-repeat center center;
	background-size: cover;
	padding: 100px;
	box-sizing: border-box;
}
#contact h2 {
	color: #eee;
}
#contact ul {
	float: left;
}
#contact .info-table {
	margin-top: 70px;
	text-align: center;
}
#contact .info {
	border: none;
	width: 540px;
	height: 60px;
	padding: 0 15px;
	border-radius: 6px;
	margin-bottom: 30px;
	font-weight: bold;
	background-color: #eee;
}
#contact .message {
	height: 240px;
}
#contact .info:focus {
	outline:none;
	box-shadow: 0 0 0 1px #fed136;
}
/*底部*/
#footer {
	height: 80px;
	line-height: 80px;
	text-align: center;
}
.copyright {
	float: left;
	width: 33%;
}
.contact-icon {
	float: left;
	width: 33%;
}
.contact-icon li {
	height: 80px;
	line-height: 80px;
	margin-right: 10px;
	display: inline-block;
}
.using-declarative {
	float: right;
	width: 33%;
}
.using-declarative a:hover {
	color: #fec503;
	text-decoration: underline;
}