/*reset*/
/*html,body,p,h1,h2,h3,h4,h5,h6,div,ul,li,input,textarea{
	margin: 0;
	padding: 0;
}*/
ul{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}

/*public*/
.wrap{
	margin: 0 auto;
	width: 1000px;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
.title{
	padding-top: 100px;
	padding-bottom: 50px;
}
.title h1{
	font-family: "Arial";
	font-size: 36px;
	color:black;
	margin-bottom: 16px;
}
.title p{
	font-family: "Arial";
	font-style: italic;
	font-size: 13px;
	color: rgb(166,166,166);

}
.m-title{
	line-height: 1.8;
	font-size: 16px;
}
.m-desc{
	line-height: 1.8;
	font-weight: normal;
	font-size: 13px;
	color: rgb(166,166,166);
}
.btn{
	color: white;
	background-color: rgb(254,209,54);
	padding: 18px 26px;
	border-radius: 3px;
	font-size: 16px;
}

#header,#services,#portfolio,#about,#team,#contact,#footer{
	font-family: "Arial";
	font-weight: bold;
	text-align: center;
}
#portfolio,#team{
	background-color: rgb(247,247,247);
}