
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1475997951'); /* IE9*/
  src: url('iconfont.eot?t=1475997951#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1475997951') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1475997951') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1475997951#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-javascript:before { content: "\e612"; }
.icon-javascript1:before { content: "\e608"; }
.icon-xiangmu:before { content: "\e61e"; }
.icon-blog:before { content: "\e73b"; }
.icon-phone:before { content: "\e635"; }
.icon-email:before { content: "\e61a"; }
.icon-github:before { content: "\e735"; }
.icon-twitter:before { content: "\e62e"; }
.icon-coffee:before { content: "\e693"; }
