html,body,ul,li,h1,h2,h3,h4,p{
    margin:0;
    padding:0;
}
body{
    font-family: "Microsoft YaHei", sans-serif;
    font-size: 14px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:#000;
}
#header{
    background-color: #fff;
    border: 1px solid #ccc;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
#header .logo{
    float:left;
    font-size: 24px;
    line-height: 48px;
}
#header .nav{
    margin-left: 50px;
}
.nav>li{
    float:left;
    font-size: 14px;
    line-height: 48px;
    margin-right: 15px;
    position: relative;
}
.nav>li:hover .subnav{
    display: block;
}
.nav:after{
    content:'';
    display: block;
    clear: both;
}
.subnav{
    position: absolute;
    display: none;
    line-height: 24px;
    top:100%;
    border:1px solid #ccc;
}
.subnav li{
    padding: 5px 10px;
    background: #fff;
    border-bottom:1px dashed #ccc;
}
.subnav li:hover{
    background-color: #eee;
}
#content .intro{
    background-color: #b84d45;
    padding:30px;
    color:#fff;
}
.product-header{
    background-color: #eee;
    border-radius: 3px;
    line-height: 32px;
    padding:5px;
    margin-top: 40px;
}
.product-header>a{
    color:#b84d45;
}
.product-list{
    margin: 20px 0 30px -40px;
}
.product-list:after{
    content: '';
    display: block;
    clear: both;
}
.product-item{
    width: 304px;
    margin-left: 40px;
    margin-top: 20px;
    float: left;
    border:1px solid #ccc;
}
.product-item img{
    width: 304px;
}
.product-item h3{
    padding:5px 10px;
}
.product-item p{
    padding:5px 10px;
}
.btn{
    display: block;
    width:35px;
    height:30px;
    padding:0 5px;
    line-height: 30px;
    margin: 8px auto;
    border: 1px solid #ccc;
    border-radius: 2px;
}
#footer{
    background: #b84d45;
    color:white;
    text-align: center;
    padding:15px 0;
    margin-bottom: 10px;
}
#footer h1{
    padding: 5px;
}
#footer p{
    padding: 5px;
}
#footer .btn{
    color: #fff;
}