@font-face {font-family: 'iconfont';
    src: url('./icon/iconfont.eot'); /* IE9*/
    src: url('./icon/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./icon/iconfont.woff') format('woff'), /* chrome、firefox */
    url('./icon/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('./icon/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:60px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
*{
	margin: 0;
	padding: 0;
}
/*----layout----*/
.layout{
	width: 1300px;
	margin: 0 auto;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
img{
	vertical-align: bottom;
}
a.btn{
	display: inline-block;
	padding: 20px 30px;
	background-color: rgb(242,201,43);
	color: #fff;
	border-radius: 5px;
	margin-top: 20px;
}
a.btn:hover{
	background-color: rgb(240,187,12);
}
li.card-list{
	float: left;
	width: 400px;
	margin-left: 50px;
}
ul.card{
	margin-left: -50px;
	padding-top: 50px;
	text-align: center;
}
ul.card:after{
	content: "";
	display: block;
	clear: both;
}
a.iconfont{
	color: #fff;
	padding: 10px;
	font-size: 25px;
	background-color: #333;
	border-radius: 50%;
	margin: 0 10px;

}
a.iconfont:hover{
	background-color: rgb(242,201,43);
}
.title{
	padding: 5px 0;
	font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: rgb(100,100,100);
}
.descript{
	line-height: 20px;
	font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: rgb(100,100,100);
}
.symbol{
	padding-bottom: 10px;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color: rgb(38,38,38);
}
/*------header------*/
#header{
	background-image: url(./pic/header-bg.jpg);
	background-size: cover;
	background-position: center center;
	color: #fff;
}
.nav>ul{
	float: right;
}
.nav:after{
	content: "";
	display: block;
	clear: both;
}
.nav{
	padding: 30px 0;
}
.nav>ul>li{
	float: left;
	margin: 0 20px;
}
.nav>ul>li>a{
	color: #fff;
}
.nav>ul>li>a:hover{
	color: rgb(242,201,43);
}
.nav>a{
	color: rgb(242,201,43);
	font-size: 30px;
	font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
}
#header .content{
	text-align: center;
	padding: 200px 0;
}
.content>h1,.content>h2{
	padding: 10px 0;
}

/*-----content----*/
#content .services{
	text-align: center;
}
/*card-list
.services>ul>li{
	float: left;
	width: 400px;
	margin-left: 50px;
}
*/
/*card
.services>ul{
	margin-left: -50px;
	padding-top: 50px;
}
.services>ul:after{
	content: "";
	display: block;
	clear: both;
}
*/
.services{
	padding: 150px 0;
}
/*title
.services>p{
	padding: 20px 0;
}
*/
.services span.iconfont{
	display: inline-block;
	color: #fff;
	background-color: rgb(242,201,43);
	border-radius: 50%;
	padding: 15px;
	height: 60px;
}
.services>ul>li>h1{
	padding: 20px 0;
}
/*descript
.services>ul>li>p{
	line-height: 20px;
}*/
.portfolio{
	background-color: rgb(245,245,245);
	text-align: center;
	padding: 150px 0;
}
.portfolio li{
	padding-bottom: 20px;
	background-color: #fff;
	margin-bottom: 40px;
	height: 100%;
}
.portfolio li>a{
	display: block;
	position: relative;
}
.portfolio li>a>.hover{
	display: none;
	height: 100%;
	width: 100%;
	background-color: rgba(242,201,43,0.9);
	position: absolute;
	top: 0;
	left: 0;
}
.portfolio li>a>.hover>span{
	line-height: 289px;
	color: #fff;
}
.portfolio li>a:hover .hover{
	display: block;
}
.about{
	text-align: center;
	padding: 100px 0;
}
.about ul{
		margin-top: 50px;
}
.about li>.time-line{
	width: 300px;
}
.about li>img{
	border-radius: 50%;
	border: 5px solid #ccc;
}
.about li{
	position: relative;
}
.about li>.time-line-even{
	right: 200px;
	text-align: left;
}
.about li>.time-line-odd{
	left: 200px;
	text-align: right;
}
.about li>.time-line{
	position: absolute;
	top: 0;
}
.line{
	border:1px solid #ccc;
	height: 150px;
	width: 0;
	position: absolute;
	left: 50%;
}
.about li:last-of-type>p{
	border: 5px solid #ccc;
	border-radius: 50%;
	display: inline-block;
	width: 80px;
	padding: 81px 65px;
	background-color: rgb(242,201,43);
	color: #fff;
}

.team{
	text-align: center;
	background-color: rgb(245,245,245);
	padding: 200px 0;
}
.team li.card-list>img{
	border-radius: 50%;
	border: 5px solid #fff;
}
.team li.card-list>p{
	margin-bottom: 30px;
}
.team .layout>p:last-of-type{
	padding: 0 200px;
	line-height: 25px;
}
/*
.team li.card-list>a{
	color: #222;
}
.team li.card-list>a:hover{
	color: rgb(242,201,43);
}
*/
.team ul.card{
	margin-bottom: 50px;
}

/*-----footer----*/
#footer>.layout>a{
	display: inline-block;
	padding: 50px 60px;
}

.contact{
	text-align: center;
	background-color: rgba(26,26,26,0.9);
	background-image: url(./pic/map-image.png);
	background-position: center center;
	padding: 150px 0;
}
.contact h1{
	color: #fff;
}
.contact form>div:after{
	content: "";
	display: block;
	clear: both;
}
.contact form>div{
	margin: 30px 0;
}
.contact .form-left{
	float: left;
	width: 630px;
}
.contact .form-left>input{
	width: 590px;
	margin-bottom: 15px;
	height: 30px;
	padding: 20px;
	vertical-align: bottom;
	border: none;
	border-radius: 5px;
	font-size: 16px;
}
.contact .form-right{
	float: right;
	width: 630px;
}
.contact .form-right>textarea{
	width: 590px;
	height: 200px;
	padding: 20px;
	vertical-align: bottom;
	border: none;
	border-radius: 5px;
	font-size: 16px;
}
.contact input[type="submit"]{
	color: #fff;
	background-color: rgb(242,201,43);
	padding: 20px 30px;
	border-radius: 5px;
	border: none;
	font-size: 20px;
}
.contact input[type="submit"]:hover{
	background-color: rgb(240,187,12);
}
.copyright ul>li:last-of-type>a{
	color: rgb(242,201,43);
	margin-right: 20px;
}
.copyright ul>li:last-of-type>a:hover{
	text-decoration: underline;
	color: rgb(240,187,12);
}
.copyright ul{
	margin-bottom: 50px;
}