@mixin clearFloat {
    content: '';
    display: block;
    clear: both;
}

.root {
    font-size: 12px;
    ul {
        padding: 0;
        margin: 0;
    }
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: black;
    }
    .aside1 {
        margin-top:20px;
        .tabs {
            &:after {
                @include clearFloat;
            }
            display: inline-block;
            border-radius: 3px 3px 0 0;
            border: 1px solid #ccc;
            margin-bottom: -3px;
            span {
                float: left;
                line-height: 33px;
            }
            li {
                float: left;
                a {
                    display: inline-block;
                    padding: 10px;
                    &:hover{
                        color: red;
                        background-color: #ccc;
                    }
                }
            }
        }
        .content {
            &:after {
                @include clearFloat;
            }
            width: 700px;
            border: 1px solid #ccc;
            display: block;
            li {
                position: relative;
                float: left;
                border: 1px solid #ccc;
                padding: 20px;
                margin: 30px 30px 0 0;
                width: 160px;
                height: 160px;
                text-align: center;
                img {
                    width: 150px;
                    height: 100px;
                }
                p {
                    font-size: 12px;
                    text-align: left;
                    margin: 5px 0;
                }
                p.price {
                    color: red;
                }
                button {
                    display: none;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 3px;
                    border: 1px solid red;
                    padding: 10px 15px;
                    background-color: white;
                }
                &:hover{
                    background-color: rgba(200, 200, 200, 0.9);
                    button {
                        display: block;
                    } 
                }
            }
            li.top {
                margin-top: 0;
            }
            li.hover {
                background-color: rgba(200, 200, 200, 0.9);
                button {
                    display: block;
                }
            }
        }
    }
}