/* 固定样式 */

html,body,div,ul,li,a,p,h1,h2,h3,h4,span{
	margin: 0;
	padding: 0;
}

html,body{
	height: 100%;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
p{
	color: #777;
}
h1{
	font-size: 45px;
	padding-top: 160px;
	padding-bottom: 15px;
}

::selection {
background:#fdd035; 
}
.layout{
	width: 1200px;
	margin: 0 auto;
}
.clearfix:after{
	 content: '';
	 display: block;
	 clear: both;
}
.text-c{
	text-align: center;
}


/* header */


#header{
	height: 100%;
	width: 100%;
	background: url(../img/headerbg.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
#header li{
	float: right;
	margin: 50px 0px 20px 32px;
}
#header li a{
	color: #fff;
	font-size: 18px;
}
#header li a:hover{
	color: #fed136;
}
#header .start{
	float: left;
	color: #fed136;
	font-size: 30px;
	margin-top: 50px;
	font-style: italic;
}
#header .start:hover{
	color: #fec503;
}
#header .text-c{
	padding-top: 220px;
}
#header .text-c p{
	font-size: 45px;
	color: #fff;
	font-style: italic;
	padding-bottom: 12px;
}
#header .text-c h1{
	font-size: 85px;
	color: #fff;
	padding-bottom: 35px;
	padding-top: 0px;
}
#header .text-c a{
	display: inline-block;
	padding: 18px 46px;
	font-size: 22px;
	color: #fff;
	background-color: #fed136;
	font-weight: bold;
	border-radius: 4px;
}
#header .text-c a:hover{
	background-color: #fec503;
}



/* sever */




#sever .top p{
	padding-bottom: 80px;
}
#sever li{
	float: left;
	width: 350px;
	margin-right: 75px;
}
#sever li:last-child{
	margin-right: 0;
}
#sever .icon{
	margin: 0 auto;
	width: 96px;
	height: 96px;
	background-color: #fed136;
	border-radius: 50%;
}
#sever .iconfont{
	position: relative;
	top: 15%;
	font-size: 60px;
	color: #fff;
}
#sever li h3{
	padding:22px 0px 16px 0px; 
}
#sever li p{
	padding-bottom: 160px;
}


/* port */




#port{
	width: 100%;
	background-color: #f7f7f7;
	padding-bottom: 150px;
}
#port p{
	padding-bottom: 77px;
}
#port li p{
	padding-bottom: 35px;
}
#port li{
	float: left;
	width: 360px;
	margin-right: 60px;
	margin-bottom: 30px;
	background-color: #fff;
}
#port li img{
	width: 360px;
	height: 260px;
}
#port li:nth-child(3){
	margin-right: 0;
}
#port li:nth-child(6){
	margin-right: 0;
}
#port li h3{
	padding:28px 0px 3px 0px;
}
#port a{
	position: relative;
	z-index: 1;
}
#port .iconfont{
	position: absolute;
	top: 50%;
	left: 50%;
	color: #fff;
	font-size: 50px;
	margin-left: -25px;
	margin-top: -25px;
}
#port .bg-hover{
	display: none;
	position: absolute;
	width: 360px;
	height: 260px;
	background-color: rgba(254,209,54,0.9);
}

#port a:hover .bg-hover{
	display: block;
}



/* about */




#about p{
	padding-bottom: 77px;
}
#about li:nth-child(2n-1) div{
	float: left;
}
#about li:nth-child(2n) div{
	float: right;
}
#about li:nth-child(2n-1) .phase{
	text-align: right;
	padding: 0px 15px 180px 100px;
}
#about li:nth-child(2n) .phase{
	text-align: left;
	padding: 0px 100px 180px 15px;
}
#about li .photo{
	width: 160px;
	height: 160px;
	border: 5px solid #f1f1f1;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	margin-left: -85px;
}
#about li .phase{
	height: 120px;
	width: 350px;
}
#about ul{
	position: relative;
}
#about ul::before{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: -1;
	width: 2px;
	height: 1299px;
	background-color: #f1f1f1;
	left: 50%;
	margin-left: -1.5px;
}
#about li .text-c{
	background-color: #fed136;
}
#about li h4{
	color: #fff;
	font-size: 25px;
	position: relative;
	top:36px;
}



/* team */



#team{
	width: 100%;
	background-color: #f7f7f7;
}
#team .top{
	padding-bottom: 70px;
}
#team li{
	float: left;
	width: 230px;
	margin: 0px 85px;
}
#team .photo{
	width: 230px;
	height: 230px;
	border-radius: 50%;
}
#team li h3{
	padding: 33px 0px 3px 0px;
}
#team .iconfont{
	font-size: 39px;
	color: #222;
	padding: 3px;
}
#team .icon{
	padding: 12px 0px 52px 0px;
}
#team .icon a:nth-child(2){
	position: relative;
	top: -2px;
}
#team .icon a:last-child{
	position: relative;
	top: 1px;
}
#team .iconfont:hover{
	color: #fed136;
}
#team .under{
	padding-bottom: 168px;
}



/* logos */



#lg li{
	float: left;
	margin: 60px 50px;
}



/* contact */


#contact{
    height: 100%;
	width: 100%;
	background: url(../img/map.jpg) no-repeat;
	background-size: cover;
	padding-bottom: 150px;
}

#contact h1{
	color: #fff;
}
#contact p{
	color:#fff;
	padding-bottom: 75px;
}
#contact .left{
	float: left;
	width: 560px;
	padding:0 18px;
}
#contact .right{
	float: left;
	width: 560px;
	padding:0 18px;
}
#contact .left input{
	
	width: 520px;
	height: 20px;
	padding: 20px;
	margin-bottom: 25px;
	border-radius: 4px;
	border: 1px solid #777;
}
#contact .right textarea{
	
	width: 520px;
	height: 195px;
	padding: 20px;
	border-radius: 4px;
	border: 1px solid #777;
}
#contact .btn1{
	color: #fff;
	font-weight: bold;
	background-color: #fed136;
	border-color: #fed136;
	font-size: 22px;
	border-radius: 4px;
	padding: 20px 40px;
}
#contact .btn{
	
	width: 237px;
	padding-top: 12px;
}
#contact .btn1:hover{
	background-color: #fec503;
	cursor: pointer;
}


/* copyright */
#cr li{
	float: left;
	width: 250px;
	padding: 30px;
	/* border: 1px solid red; */
	margin-right: 135px;
}
#cr li:last-child{
	margin-right: 0px;
	padding-top: 41px;
}
#cr li:first-child{
	padding-top: 43px;
}

#cr .iconfont{
	font-size: 39px;
}
#cr .icon1{
	position: relative;
	top:3px;
}
#cr .icon2{
	position: relative;
	top:4px;
}

#cr .webs{
	color: #fed136;
}
#cr .logo{
	color: #222;
}
#cr .logo:hover{
	color: #fed136;
}
#cr .webs:hover{
	color: #fec503;
	text-decoration: underline;
}
