html,body,h1,p,ul,li,h2,h3,h4{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
html,body{
  width: 100%;
  height: 100%;
}
.layout{
  width: 1400px;
  margin: 0 auto;
}
.text-center{
  text-align: center;
}
.clearfix{
  content: '';
  display: block;
  clear: both;
}
.overflow-hidden{
  overflow: hidden;
}
.btn{
  color: white;
  font-size: 28px;
  padding: 20px 40px;
  background-color: #fed136;
  border-radius: 5px;
  font-weight: bold;
}
.btn:hover{
  background-color: #fec503;
}
.title{
  text-align: center;
  padding-top: 200px;
  padding-bottom: 100px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.title h1{
  font-weight: bold;
  font-size: 45px;
  margin-bottom: 15px;
}
.title p{
  font-size: 18px;
  color: #777;
}
#nav{
  position: fixed;
  padding-top: 30px;
  padding-bottom: 30px;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
#header{
  width: 100%;
  height: 90%;
  background-image: url(../img/header-bg.jpg);
  background-position: 0px;
  background-repeat: no-repeat;
}
#nav .layout h1{
  float: left;
}
#nav .layout h1 a{
  color: #fed136;
  font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
}
#nav .layout h1 a:hover{
  color: #fec503;
}
#nav .layout li{
  float: right!important;
  padding-left: 40px;
  margin-top: 10px;
}
#nav .layout li a{
  color: white;
  font-size: 18px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#nav .layout li a:hover{
  color: #fec503;

}
#header .layout{
  padding-top: 370px;
  color: white;
}
#header .layout i{
  font-size: 50px;
}
#header .layout p{
  padding: 10px 0;
}
#header .layout h1{
  font-size: 100px;
  margin-top: 10px;
  margin-bottom: 70px;
}
#main .services ul{
  margin-left: -100px;
}
#main .services li{
  float: left;
  margin-left: 100px;
  margin-bottom: 200px;
}
#main .services .services-item{
  width: 400px;
  text-align: center;
}
#main .services .services-item .fa{
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background-color: #fed136;
  position: relative;
  margin-bottom: 20px;
}
#main .services .services-item .fa i{
  color: white;
  font-size: 60px;
  line-height: 125px;
}
#main .services .services-item h1{
  margin-bottom: 20px;
}
#main .services .services-item p{
  color: #777;
  font-weight: bold;
  font-size: 18px;
}
#main .portfolio{
  background-color: #eee;
  padding-bottom: 200px;
}
#main .portfolio ul{
  margin-left: -100px;
}
#main .portfolio li{
  float: left;
  margin-left: 100px;
}
#main .portfolio .portfolio-item{
  margin-bottom: 50px;
  text-align: center;
  background-color: white;
}
#main .portfolio .portfolio-item h3{
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 10px;
}
#main .portfolio .portfolio-item p{
  font-weight: bold;
  color: #777;
  padding-bottom: 30px;
}
#main .portfolio .portfolio-item .portfolio-img{
  position: relative;
}
#main .portfolio .portfolio-item .portfolio-img .img-hover{
  line-height: 290px;
  width: 400px;
  background-color: rgba(254,209,54,.9);
  position: absolute;
  z-index: 100;
  color: white;
  font-size: 65px;
  opacity: 0;
  transition: 0.5s;
}
#main .portfolio .portfolio-item .portfolio-img:hover .img-hover{
  opacity: 1;
}
#main .about{
  padding-bottom: 200px;
}
#main .about .about-content{
  position: relative;
}
#main .about .about-content li{
  margin-bottom: 150px;
}
#main .about .about-content .line{
  height: 100%;
  width: 0px;
  border: 1px solid #eee;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  z-index: -1;
}
#main .about .about-content .layout{
  width: 1300px;
}
#main .about .about-content .time-line-content{
  width: 495px;
  padding-top: 10px;
}
#main .about .about-content .time-line-content h2{
  margin-bottom: 10px;
  font-weight: bold;
}
#main .about .about-content .time-line-content p{
  color: #777;
  font-size: 18px;
  font-weight: bold;
}
#main .about .about-content .time-line-image{
  width: 200px;
  height: 200px;
  border: 5px solid #eee;
  border-radius: 50%;
}
#main .about .about-content .time-line-image img{
  border-radius: 50%;
}
#main .about .about-content .left-content .time-line-content{
  float: left;
  text-align: right;
  padding-right: 50px;
}
#main .about .about-content .left-content .time-line-image{
  float: left;
}
#main .about .about-content .right-content .time-line-content{
  float: right;
  text-align: left;
  padding-left: 50px;
}
#main .about .about-content .right-content .time-line-image{
  float: right;
}
#main .about .about-content .time-line-end{
  width: 200px;
  height: 200px;
  border: 5px solid #eee;
  border-radius: 50%;
  margin-left: 545px;
  line-height: 35px;
  background-color: #fed136;
  text-align: center;

}
#main .about .about-content .time-line .time-line-end h2{
  color: white;
  padding-top: 45px;
}
#main .team{
  background-color: #eee;
  padding-bottom: 200px;
}
#main .team .team-items ul{
  margin-left: -100px;
}
#main .team .team-items li{
  float: left;
  margin-left: 100px;
}
#main .team .team-items .team-item{
  width: 400px;
}
#main .team .team-items .team-item .team-img{
  display: inline-block;
  width: 225px;
  height: 225px;
  border: 5px solid white;
  border-radius: 50%;
  margin-bottom: 30px;
}
#main .team .team-items .team-item .team-img img{
  border-radius: 50%;
}
#main .team .team-items .team-item h2{
  margin-bottom: 10px;
}
#main .team .team-items .team-item p{
  margin-bottom: 20px;
  font-weight: bold;
  color: #777;
  font-size: 18px;
}
#main .team .team-items .team-item .fa{
  font-size: 50px;
  margin: 0 5px;
  color: black;
}
#main .team .team-items .team-item .fa:hover{
  color: #fed136;
  transition: 0.3s;
}
#main .team .team-items .team-content{
  padding-top: 50px;
  width: 800px;
  margin: 0 auto;
}
#main .team .team-items .team-content p{
  color: #777;
  font-weight: bold;
  font-size: 18px;
}
#main .partner-icon{
  padding: 50px 0;
  width: 950px;
  margin: 0 auto;
}
#main .partner-icon ul{
  margin-left: -50px;
}
#main .partner-icon li{
  float: left;
  margin-left: 50px;
}
#main .contact{
  background-image: url(../img/pixelMap.png);
  padding-bottom: 200px;
}
#main .contact .title h1{
  color: white;
}
#main .contact .title p{
  color: #222;
}
#main .contact .form-group{
  width: 600px;
  height: 100px;
}
#main .contact .form-control{
  width: 600px;
  height: 60px;
  font-size: 24px;
}
#main .contact .contact-form .form-wrap{
  margin-left: 50px;
  float: left;
}
#main .contact .contact-form .textarea-wrap{
  width: 600px;
  margin-left: 100px;
  float: left;
}
#main .contact .contact-form .textarea-wrap textarea{
  width: 600px;
  height: 260px;
  font-size: 24px;
}
#main .contact .btn-wrap{
  padding: 30px 0;
}
#footer{
  padding: 20px 0;
}
#footer .copyright{
  width: 400px;
  float: left;
  font-size: 24px;
  line-height: 50px;
}
#footer .fa-icon{
  float: left;
  width: 400px;
  font-size: 50px;
  margin-left: 100px;
  margin-right: 100px;
}
#footer .fa-icon a{
  color: black;
}
#footer .fa-icon a:hover{
  color: #fec503;
  transition: 0.3s;
}
#footer .other{
  float: left;
  font-size: 24px;
  width: 400px;
  text-align: right;
  line-height: 50px;
}
#footer .other a{
  color: #fed136;
}
#footer .other a:hover{
  color: #fec503;
  text-decoration: underline;
}
